# CMake build directories
build*/
cmake-build-*/
install*/

# Object files
*.o
*.obj

# Executables
*.exe

# Debug symbols
*.pdb

# Static / shared libraries
*.a
*.lib
*.so
*.dll

# Coverage files
*.gcda
*.gcno
*.gcov
coverage.info
coverage.filtered.info
coverage-html/

# Clang tools
.clangd/
.cache/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db